form{
    width: 600px;
}
div{
    display: flex;
    margin-bottom: 20px;
}
label{
    width: 100px;
}
input,textarea{
    flex: 1;
}
button{
    margin-left: 100px;
    padding: 6px 12px;
    color: #2F1C25;
    background-color: transparent;
    border: 3px solid #D7B0DF;
    border-radius:8px;
    cursor: pointer;
}